{% extends 'adminpanel/base.html' %}
{% block content %}

<div class="main-content">
<div class="container mt-4">

    <h2>Edit Product</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-6 mb-3">
                <label>Product Name</label>
                <input type="text" name="product_name" class="form-control" value="{{ product.product_name }}">
            </div>

            <div class="col-md-6 mb-3">
                <label>Slug</label>
                <input type="text" name="slug" class="form-control" value="{{ product.slug }}">
            </div>

            <div class="col-md-12 mb-3">
                <label>Description</label>
                <textarea name="description" class="form-control">{{ product.description }}</textarea>
            </div>

            <div class="col-md-4 mb-3">
                <label>Price</label>
                <input type="number" name="price" class="form-control" value="{{ product.price }}">
            </div>

            <div class="col-md-4 mb-3">
                <label>Stock</label>
                <input type="number" name="stock" class="form-control" value="{{ product.stock }}">
            </div>

            <div class="col-md-4 mb-3">
                <label>Category</label>
                <select name="category" class="form-control">
                    {% for c in categories %}
                    <option value="{{ c.id }}" {% if product.category.id == c.id %}selected{% endif %}>
                        {{ c.category_name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-6 mb-3">
                <label>Current Image</label><br>
                <img src="{{ product.image.url }}" width="120">
            </div>

            <div class="col-md-6 mb-3">
                <label>Change Image</label>
                <input type="file" name="image" class="form-control">
            </div>

            <div class="col-md-12">
                <button class="btn btn-primary">Update</button>
            </div>
        </div>

    </form>

</div>
</div>
</div>
{% endblock %}
